<html>

<head>
    <title>Jobswala</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/app.css">    
</head>

<body>
    <%- include header.ejs %>
        <div class="container">
            <h2>Create Category</h2>
            <div class="row">
                <form id="pushForm">
                    <table id="post-table">
                        <tr>
                            <td>
                                <input type="radio" name="choice" id="choice" value="location">
                                <label for="">Location</label>
                            </td>
                            <td>
                                <select id="location" class="form-control">                                
                                <%                                    
                                    for ( var i = 0; i < options.length; i++ )
                                    {                                       
                                    %>
                                        <option value="<%=options[i] %>" >
                                            <%=options[i] %>
                                        </option>
                                    <%
                                    }
                                %>
                                </select>
                            </td>
                        </tr>
                    </table>                                        
                    <p class="or">Or</p>
                    <table id="post-table">
                        <tr>
                            <td>
                                <input type="radio" name="choice" id="" value="platform">
                                <label for="">Platform</label>
                            </td>
                            <td>
                                <select id="platform" class="form-control">
                                <option value="all">ALL</option>
                                <option value="android">Android</option>
                                <option value="ios">IOS</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <table>
                        <tr>
                            <td>
                                <label for="">Title</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="title" class="form-control" placeholder="Push Notification Title">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">Body</label>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="text" id="body" class="form-control" placeholder="Push Notification Body">
                                </div>
                            </td>
                        </tr>
                        <input type="hidden" id="option">
                    </table>
                    <p>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Push Notifications" />
                        <input type="button" class="btn btn-default btn-lg btn-block" id="cancel" value="Cancel">
                    </p>
                </form>
            </div>
        </div>
</body>
<script src="/modules/jquery/dist/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        var path = window.location.href;
        $('ul.nav li a').each(function () {
            if (this.href === path) {
                $(this).parent('li').addClass('active');
            }
        });  
        
        $('input[type=radio][name=choice]').change(function () {
            if(this.value == "platform"){
                $('#location').attr('disabled', 'disabled');
                $('#platform').removeAttr('disabled');
                $('#option').val("platform");
            } else {
                $('#platform').attr('disabled', 'disabled');
                $('#location').removeAttr('disabled');
                $('#option').val("location");
            }
        });
    });

    $("#cancel").on("click", cancel);

    function cancel() {
        window.location.href = '/';
    }

    $('#pushForm').submit(function(e){
        e.preventDefault();
        if($('#option').val() == "platform"){            
            var type = "platform";
            var selected = $("#platform option:selected").val()            
        } else {            
            var type = "location";
            var selected = $("#location option:selected").val()            
        }
        var title = $('#title').val();
        var body = $('#body').val();

        if (type != "platform" && type != "location") {
            alert("Unknown Push type, Please select either location or platform!");
            return false;
        }

        if(!body){
            alert("Body is required to send push");
            return false;
        }       

        var data = {
            push : {
                type: type,
                value: selected,
                title: title,
                body: body
            }
        }

         $.ajax({
            type: 'POST',
            url: '/notification/send',
            data: JSON.stringify(data),
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                alert("Push sent successfully");
                window.location.replace("/");
            },
            error: function (response) {
                alert(response.responseJSON.message);
            }
        })
    })
   
</script>

</html>