 <ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-slides direction="vertical" effect="coverflow" loop="false">
      <ion-slide class="bg-white" *ngFor="let post of posts">
        <img src="{{post.image}}" class="post-image" alt="No image">
        <div style="padding:5px;text-align:justify">
            <h2 class="title-text">{{post.title}}</h2>
            <p class="body-text">Patte Loper is a painter who experiments with sculpture and video. She was born in Colorado and grew up in Tallahassee, FL, a subtropical college town where she first developed an appreciation for the ways nature and culture can overlap. She currently lives and works in Brooklyn, NY, and Boston, MA, where she is on the faculty of the School of the Museum of Fine Arts, Boston, MA. She has shown her work in numerous solo and group exhibitions internationally, including the Drawing Center, New York, NY; </p>
        </div>        
      </ion-slide>        
    </ion-slides>
  <!-- <h2>Welcome to Ionic!</h2>
  <ion-list>
    <ion-item *ngFor="let post of posts">   
        <ion-avatar item-start>
            <img src="{{post.image}}">
          </ion-avatar>   
      <h2>{{post.title}}</h2>
    </ion-item>
  </ion-list>   
        <ion-slide class="red">1</ion-slide>
        <ion-slide class="green">2</ion-slide>
        <ion-slide class="red">3</ion-slide>
        <ion-slide class="green">4</ion-slide>
        <ion-slide class="red">5</ion-slide>
      -->
</ion-content>
