page-home {

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.scroll-content {
    padding: 0px !important;
}

ion-slide.swiper-slide {
    align-items: flex-start;
}

.body-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;    
    margin-top: 0px;    
}

.title-text {
    font-weight: 500;
    text-align: left;
    font-size: 20px;
    margin-top: 0px !important;
    margin-bottom: 3px;
}

.bg-white {
    background-color: #fff !important;
}

.post-image-div {
    width: 100% !important;        
    position: relative;
}

.post-image {
    position: absolute;
    top: 0px;
    right: 0px;
    botoom: 0px;
    left: 0px;
    width: 100% !important;
    max-height: 100%;
    max-width: 100%;
}

.post-content-div {
    overflow: hidden;
    padding: 5px;
    text-align: justify;    
    position: relative;   
    text-overflow: ellipsis; 
}

.buttons-row {
    position: absolute;
    //bottom: 0;
    width: 100%;
    //margin-bottom: 10px;
    //background-color: #f2f2f2;
}

.footer-text {
    font-size: 10px;
    color: red;
    letter-spacing: 1px;
    margin: 0 auto;
    padding-top:2px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 40px; 
    padding-top: 5px;
    text-align: center;
}

.column .button {
    margin: 0px !important;
    height: 25px;    
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 320px) {
    .title-text {        
        font-size: 14px !important;
        margin-top: 0px !important;
    }
  
    .body-text {        
        font-size: 14px !important;        
    }
  
}



.scroll-refresher {
    width: 100%;
}

/*
ion-slides {
    height: auto;
} 

@media (max-height: 570px) {    
    .post-content-div {
        padding: 5px;
        text-align: justify;
        height: 62vh !important;
        position: relative;
        border: 1px solid #000
    }
}

@media (max-height: 640px) {    
    .post-content-div {
        padding: 5px;
        text-align: justify;
        height: 61vh !important;
        position: relative;
        border: 1px solid #000
    }
}
*/

.toolbar-ios-secondary,
.toolbar-background-ios {
    background-image: url('../../assets/imgs/icon.png');
}

.profile .toolbar-background {
    background: map-get($colors, secondary);
}

.toolbar-title, 
.toolbar-title-ios {
    color: #fff;
}

.toolbar-content, 
.toolbar-content-ios {
    margin-left: -10px;
    display: flex;
}


.no-scroll .scroll-content{
   overflow: hidden;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ios {
    .toolbar-tit {
        margin-left: 75px;
    }
}