page-home {

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.scroll-content {
    padding: 0px !important;
}

ion-slide.swiper-slide {
    align-items: flex-start;
}

.body-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;    
    margin-top: 0px;    
}

.title-text {
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    margin-top: 0px !important;
}

.bg-white {
    background-color: #fff !important;
}

.post-image-div {
    width: 100% !important;        
    position: relative;
}

.post-image {
    position: absolute;
    top: 0px;
    right: 0px;
    botoom: 0px;
    left: 0px;
    width: 100% !important;
    max-height: 100%;
    max-width: 100%;
}

.post-content-div {
    padding: 5px;
    text-align: justify;    
    position: relative;    
}

.buttons-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 40px; 
    padding-top: 5px;
    text-align: center;
}

.column .button {
    margin: 0px !important;
    height: 25px;    
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 320px) {
    .title-text {        
        font-size: 14px !important;
        margin-top: 0px !important;
    }
  
    .body-text {        
        font-size: 14px !important;        
    }
  
}

@media (max-height: 570px) {    
    .post-content-div {
        padding: 5px;
        text-align: justify;
        height: 62vh !important;
        position: relative;
        border: 1px solid #000
    }
}

@media (max-height: 640px) {    
    .post-content-div {
        padding: 5px;
        text-align: justify;
        height: 61vh !important;
        position: relative;
        border: 1px solid #000
    }
}

.scroll-refresher {
    width: 100%;
}

/*
ion-slides {
    height: auto;
} 
*/

.no-scroll .scroll-content{
   overflow: hidden;
}

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
}

