page-home {

}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.scroll-content {
    padding: 0px !important;
}

ion-slide.swiper-slide {
    align-items: flex-start;
}

ion-slides {
    height: auto;
}

.body-text {
    font-weight: 300;
    font-size: initial;
    line-height: 1.4;
}

.title-text {
    font-weight: 400;
}

.bg-white {
    background-color: #fff !important;
}