.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container,
.instructions {
    width: 200px;    
    font-size: 14px;
    font-family: sans-serif;
}

.instructions {
    width: 100%;
    text-align: center;
}

.dropdown-button {
    float: left;
    width: 100%;
    background: whitesmoke;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.dropdown-button .dropdown-label,
.dropdown-button .dropdown-quantity {
    float: left;
}

.dropdown-button .dropdown-quantity {
    margin-left: 4px;
}

.dropdown-button .fa-filter {
    float: right;
}

.title-text {
    font-weight: 400;
    text-align: left;
    font-size: 18px;
    margin-top: 0px !important;
}

.dropdown-list {
    float: left;
    width: 100%;
    border: 1px solid lightgray;
    border-top: none;
    box-sizing: border-box;
    padding: 10px 12px;
}

.dropdown-list input[type="search"] {
    padding: 5px 0;
}

.dropdown-list ul {
    list-style-type:none;
    padding-left: 5px;
    margin: 10px 0;
    max-height: 100px;
    overflow-y: auto;
}

.dropdown-list ul input[type="checkbox"] {
    position: relative;
    top: 2px;
}

table {
    width: 100%;
}

table tr td {
    width: 50%;
    vertical-align: top;
    padding: 15px 20px 12px 10px;
}

table tr td:first-child {
    width: 30%;
}

table tr td:last-child {
    width: 70%;
}

.or {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.mobile {
    width: 375px;
    height: 623px;
    border: 1px solid #ccc;
}

.mob-image {
    height: 200px;
    width: 100%;
}

.buttons-row {    
    bottom: 0;
    width: 96%;
    margin-bottom: 10px;
}

.post-image {    
    top: 0px;
    right: 0px;
    botoom: 0px;
    left: 0px;
    width: 100% !important;
    max-height: 100%;
    max-width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

.column .button {
    margin: 0px !important;
    height: 25px;
}

.mob-content {
    height: 423;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    overflow: hidden;
    margin-top: 0px;
}

#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsed {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsed {        
        /* same width as sidebar */
        margin-right: -25%;
    }
}

#content {
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

#sidebar {
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

#row-main {
    /* necessary to hide collapsed sidebar */
    overflow-x: hidden;
}

#content {
    /* for the animation */
    transition: width 0.3s ease;
}