page-welcome {
  background-color: map-get($colors, secondary);
}

.scroll-content {
  background-color: map-get($colors, secondary);
}

.standard-medium {
  width: 45%;
}

.logo-medium {
  width: 100px;
}

.line-space {
    line-height: 25px;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}



